parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     admin_rocche
    database_user:     admin_rocche
    database_password: admin_rocche
    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~
    locale:            it_IT
    secret:            Liejrgp<@4>twnmae.ogaisygfnk<4g_us<4fghw4i

