{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationNetworkingInitCmsBundle::base.html.twig' %}


{% block title %}{% endblock title %}
{% block container_class %}container-narrow{% endblock container_class %}

{% block navbar %}
    {% include 'ApplicationNetworkingInitCmsBundle:Navbar:navbar.html.twig' %}
{% endblock navbar %}

{% block content_row %}
    {{ parent() }}
{% endblock content_row %}

{% block footer %}
    <hr />
    <div class="footer">
        <div class="row">
            <div class="col-md-4">
                <h3>Le Linee</h3>
                <div class="body">
                    <ul>
                        <li><a href="/prodotti/?col[]=1">Terre di Malatesta</a></li>
                        <li><a href="/prodotti/?col[]=2">Le Rocche</a></li>
                        <li><a href="/prodotti/?col[]=3">Prime Rocche</a></li>
                        <li><a href="/prodotti/">Tutti i Vini</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h3>I Vini</h3>
                <div class="body">
                    <ul>
                        <li><a href="/prodotti/?cat[1][]=2">Vino Rosso</a></li>
                        <li><a href="/prodotti/?cat[1][]=3">Vino Bianco</a></li>
                        <li><a href="/prodotti/?cat[1][]=4">Vino dolce</a></li>
                        <li><a href="/prodotti/?cat[1][]=5">Vino Passito</a></li>
                        <li><a href="/prodotti/?cat[1][]=6">Vino Bianco frizzante</a></li>
                        <li><a href="/prodotti">Tutti i Vini</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <h3>Le Rocche Malatestiane</h3>
                <div class="body malatesta">
                    Via Emilia, 104 - 47121 Rimini - Italy<br>
                    Tel. +39 0541 743079/80 - Fax +39 0541 742340<br>
                    <br>
                    P.IVA/CF XXXXXXXXXXX - REA XXXXX<br>
                    Cap. Soc. &euro;0000000 i.v.
                </div>
            </div>
            <!--img class="col-md-16" src="/bundles/applicationnetworkinginitcms/img/fake/footer.png" /-->
        </div>
        <div class="row">
            <div class="col-md-16 footer-sep"></div>
        </div>
        <div class="row">
            <div class="col-md-8 footer-info-left">
                <a href="/azienda/il-punto-vendita/" style="color: white !important;">
                Il punto vendita: orari e info
                </a>
                <span></span>
            </div>
            <div class="col-md-8 footer-info-right">
                <input type="text" placeholder="ISCRIVITI ALLA NEWSLETTER">
                <a class="fb" href="">Facebook</a>
                <a class="rss" href="">RSS</a>
            </div>
        </div>
    </div>
{% endblock footer %}

{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
                window.prettyPrint && prettyPrint();
        });
    </script>
{% endblock foot_script %}
