{% from 'LzdvInitCmsPostBundle:PostDetailsView:macro.html.twig' import post_details, admin_post_details %}
    <h4 class="block-title">Post Details</h4>
    
    <div>
        {{ admin_post_details(postDetailsView, '') }}
    </div>
