{% from 'LzdvInitCmsProductBundle:CategoryView:macro.html.twig' import category, admin_category %}
    <h4 class="block-title">Category - {% if categoryView.category.dynamic is defined and categoryView.category.dynamic %}dinamica{% else %}statica{% endif %}</h4>
    
    {% if categoryView.title %}
        <h4>{{ categoryView.title }}</h4>
        <hr>
    {% endif %}
    <div>
        {{ admin_category(categoryView, '') }}
    </div>
    
    {% if categoryView.text %}
        {{ categoryView.text|raw }}
    {% endif %}
